$color: steelblue;
$color-secondary: #000;

.my-flix {
  color: $color;
}

.separate {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: $color-secondary;
}

img {
  width: 100%;
}

p {
  margin: 10px;
}

.movie-image {
  height: 65%;
}

.back-btn {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: $color-secondary;
  border: none;
  margin: 10px;
  border-radius: 4px;
}

.movie-detials {
  font-weight: bolder;
  // color: $color-secondary;
}

.logout {
  color: green;
}

.movie-view-image {
  margin-bottom: 10px;
  height: 550px;
}

.movie-view-image-filter {
  margin-bottom: 10px;
  height: 440px;
  width: 300px;
}

.property-name {
  color: $color-secondary;
}

.property-info {
  display: block;
  width: 300px;
}

.container-filter {
  margin-top: 1rem;
}

.container-filter p {
  margin-top: 2px;
}

.btnSearch {
  display: inline;
}

.formSearch {
  display: flex;
  gap: 1rem;
  margin: 10px 0;
}

.searchMovie {
  width: 98%;
}

p span {
  color: #000;
}

.card-body {
  text-align: center;
  // margin-left: -30px;
  // display: flex;
}

.profile-cont {
  width: auto;
}

.favorite--movie_card {
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .profile-info {
    width: 320px;
    margin-left: -50px;
  }
}
